.Home{
    width: 100%;
    min-height: auto;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Frame{
    width: 100%;
    height: 100vh;
}
.Hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: white;
}
.Hero h4{
    font-size: 20px;
    text-align: left;
    width: 52rem;
}
.Hero h1{
    font-size: 10rem;
    width: 56.5rem;
}
.Hero h3 {
    font-size: 2rem;
    width: 54rem;
    text-align: right;
    color: #eb5939;
}
.About{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 9% 12% 2% 12%;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFC;
    gap: 2vh;
}

.Skill{
    background-color: #FFFFFC;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    z-index: 2;
    width: 100%;
    height: 100vh;
    gap: 2vh;
}

.Bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(100%);
}

.Heading{
    width: 100%;
    color: #FF3F00;
    font-size: 15px;
}

.About .Main-content{
    font-size: 28px;
}

.Skill .Heading{
    width: 100%;
    padding-left: 12%;
}
.Skill .Main-content{
    list-style: none;
    width: 100%;
}

.Skill .Main-content li{
    width: 100%;
    height: 16vh;
    border-top: 1px solid black;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.Skill .Main-content li:hover{
    background-color: #FF3F00;
}
.Skill .Main-content li h1{
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 65px;
    padding-left: 12%;
}
.Skill .Main-content .Last-element{
    border-bottom: 1px solid black;
}
.details-container{
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    color: white;
    padding-right: 2%;
    padding-left: 50%;
    font-size: 18px;
    flex-direction: row-reverse;
    position: relative;
}
.details-container lottie-player{
    position: absolute;
    left: 140px;
}
.tools-section {
    border-bottom: 1px solid black;
}
.Projects{
    background-color: #1a1a1a;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    z-index: 2;
    width: 100%;
    height: auto;
    border-bottom: 100vh solid #1a1a1a;
    gap: 1vh;
    padding-top: 7%;
}

.Projects .Heading{
    color: white;
    font-size: 40px;
    padding-left: 5%;
}

.Projects .Main-content{
    width: 100%;
    height: 100%;
    display: flex;

    flex-direction: column;
}

.Projects .Healthwave{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 7vh;
    padding: 7% 0 0 5%;
}
.Projects img{
    width: 80%;
    cursor: pointer;
}
.Projects p{
    font-size: 31px;
    transform: scale(1, 1.1);
    display: inline-block;
    font-weight: 300;
}
.project-details{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 6vh;
}
.project-title{
    width: 40%;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 40px;
}
.project-description{
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.project-techstack{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    font-size: 21px;
    color: #eb5939;
    text-transform: uppercase;
}

.Projects .AXWeather{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 7vh;
    background-color: #bdc7d0;
    border-bottom: 20vh solid #bdc7d0;
    padding: 7% 0 0 5%;
    margin-top: 20vh;
}
.Projects .AXWeather .project-title{
    color: black;
}
.Projects .AXWeather .project-details{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.Projects .QuizElite{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10vh;
    border-bottom: 10vh solid white;
    padding: 7% 0 0 5%;
    background-color: white;
}
.Projects .QuizElite .project-title{
    color: black;
}
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.techstack-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 40px;
    flex-wrap: wrap;
}
